# fly.toml app configuration file generated for mcp-for-papa-bitter-night-508 on 2025-12-29T10:23:06-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mcp-for-papa-bitter-night-508'
primary_region = 'lax'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 800

[[vm]]
  size = 'shared-cpu-1x'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
